{% extends 'kanslia_theme/base.html' %}
{% load static %}
{% block body_content %}
<div class="hel-login-box">
    <img src="{% static 'images/helsinki-vaakuna-helfisininen.svg' %}"
         class="hel-login-logo">
  <h5>Helsingin kaupunki</h5>
  <h1>{% block title %}{% endblock %}</h1>
  <h4>Digitaalinen Helsinki - digi.hel.fi</h4>

  {% block content %}{% endblock %}

  {% comment TODO %}
  <a href="#">Takaisin palveluun</a> |
  <a href="#">Kysy tai lähetä palautetta</a>
  {% endcomment %}
</div>
{% endblock %}
