{% extends 'kanslia_theme/base.html' %}
{% load static %}
{% block body_content %}
<div class="hel-login-box">
  <div class="hel-login--header">
    <img src="{% static 'images/helsinki-vaakuna-sininen.svg' %}"
           class="hel-login-logo">
    <h6 class="hel-login-org-title">Helsingin kaupunki</h6>
    <h2>{% block title %}{% endblock %}</h2>
    <h5>Kertakirjautuminen</h5>
  </div>
  {% block content %}{% endblock %}

  {% comment TODO %}
  <a href="#">Takaisin palveluun</a> |
  <a href="#">Kysy tai lähetä palautetta</a>
  {% endcomment %}
</div>
{% endblock %}
