{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_head %}
<link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
.jumbotron h2 {
    margin-bottom: 16px;
}
.login-method {
    margin-top: 4px;
    margin-bottom: 4px;
}
.short-description {
    margin-top: 12px;
    margin-bottom: 12px;
}
.short-description p {
    font-size: 12px;
    margin-bottom: 0px;
}
</style>
{% endblock %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}{% endblock %}</h1>
        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}
