{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Log in' %}{% endblock %}

{% block content %}
<p class="doc">
  {% blocktranslate trimmed %}
  You can log in to this service by using one of these
  authentication methods.
  {% endblocktranslate %}
</p>
<div class="hel-login-methods">
  {% for method in login_methods %}
  <div class="login-method login-method-{{ method.provider_id }}
              {% if method.order == 0 %}login-method__primary{% endif %}">
      {% if not method.logo_url %}
      <a href="{{ method.login_url }}"
         class="btn btn-block btn-social btn-{{ method.provider_id }}">
          <span class="fa fa-{{ method.provider_id }}"></span>
          {{ method.name }}
      </a>
      {% else %}
      <a href="{{ method.login_url }}"
         class="btn btn-block btn-social btn-primary">
          <span class="ext-icon" aria-hidden="true">
              <img src="{{ method.logo_url }}" aria-hidden="true" alt=""/>
          </span>
          {{ method.name }}
      </a>
      {% endif %}
      {% if method.short_description %}
      <div class="short-description">
      {{ method.short_description|safe }}
      </div>
      {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
