# Django settings
DEBUG=1
ALLOWED_HOSTS=*
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=
SOCIAL_AUTH_GITHUB_KEY=
SOCIAL_AUTH_GITHUB_SECRET=
SOCIAL_AUTH_GOOGLE_KEY=
SOCIAL_AUTH_GOOGLE_SECRET=
SOCIAL_AUTH_HELSINKI_ADFS_KEY=
SOCIAL_AUTH_HELSINKI_ADFS_SECRET=
SOCIAL_AUTH_ESPOO_ADFS_KEY=
SOCIAL_AUTH_ESPOO_ADFS_SECRET=
SOCIAL_AUTH_SUOMIFI_SP_ENTITY_ID=
SOCIAL_AUTH_SUOMIFI_SP_PUBLIC_CERT=
SOCIAL_AUTH_SUOMIFI_SP_PRIVATE_KEY=
SOCIAL_AUTH_SUOMIFI_ORG_INFO=
SOCIAL_AUTH_SUOMIFI_TECHNICAL_CONTACT=
SOCIAL_AUTH_SUOMIFI_SUPPORT_CONTACT=
SOCIAL_AUTH_SUOMIFI_ENABLED_IDPS=
SOCIAL_AUTH_SUOMIFI_UI_INFO=
SOCIAL_AUTH_SUOMIFI_UI_LOGO=

# Entrypoint settings
SETUP_DEV_OIDC=1
CREATE_SUPERUSER=1
APPLY_MIGRATIONS=1
GENERATE_OPENID_KEY=1
