--no-binary xmlsec
--no-binary lxml

django<5.0
django-multiselectfield
django-oauth-toolkit<=2.0
django-parler
django-cors-headers
# Use our own fork of django-oidc-provider as long as the token extraction PR is not merged
# https://github.com/juanifioren/django-oidc-provider/pull/389
git+https://github.com/City-of-Helsinki/django-oidc-provider.git@f25cf7665eef59d15f14a8b2a8276ec955b5b73b
djangorestframework
django-helusers
django-bootstrap3
psycopg[c]
raven
PyJWT[crypto]
cryptography
django-npm
libsass
django-compressor
django-environ
django-sass-processor
social-auth-core[openidconnect,saml]
python-jose
social-auth-app-django
requests
jwcrypto
Pillow
django-crequest
django-ipware
geoip2
django-filter
coreapi
python3-saml
ruamel.yaml
git+https://github.com/City-of-Helsinki/django-translation-checker.git@master
