django
django-multiselectfield
django-oauth-toolkit
django-parler
django-cors-headers
django-oidc-provider
djangorestframework
pyjwt
django-helusers
django-allauth
django-bootstrap3
psycopg2
raven
PyJWT
cryptography
