django>=2.1,<2.2
django-multiselectfield
django-oauth-toolkit
django-parler
django-cors-headers
django-oidc-provider>=0.7
djangorestframework
pyjwt
django-helusers
django-allauth
django-bootstrap3
psycopg2
psycopg2-binary
raven
PyJWT
cryptography
django-npm
libsass
django-compressor
django-sass-processor
social-auth-core[openidconnect,saml]
social-auth-app-django
requests
jwcrypto
Pillow
django-crequest
django-ipware
geoip2
django-filter
coreapi
git+git://github.com/City-of-Helsinki/python3-saml.git@v1.5.0-tunnistamo
ruamel.yaml
git+git://github.com/City-of-Helsinki/django-translation-checker.git@master
