{% extends "admin/base.html" %}

{% block title %}List of configured applications{% endblock %}
{% block content_title %}List of configured applications{% endblock %}
{% block content %}
<table>
    <caption>Table of all configured client applications</caption>
    <thead>
        <tr>
            {% for key in headers %}
            <th scope="col"><strong>{{ key }}</strong></th>
            {% endfor %}
        </tr>
    </thead>

    {% for client in clients %}
    <tr>
        {% for value in client %}
        <td>{{ value|safe }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
