{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans 'Permission request' %}</h2>

  <p>{% blocktrans with service_name=client.name %}Service <strong>{{ service_name }}</strong> is requesting access to the following information of your user account{% endblocktrans %}</p>

<form method="post" action="{% url 'oidc_provider:authorize' %}">

    {% csrf_token %}

    {{ hidden_inputs }}

    <ul class="list-group">
        {% for scope in scopes %}
        <li class="list-group-item"><strong>{{ scope.name }}</strong> <br><i>{{ scope.description }}</i></li>
        {% endfor %}
    </ul>
    <div class="pull-right">
      <input class="btn btn-default" type="submit" value="{% trans 'Deny' %}" />
      <input class="btn btn-primary" name="allow" type="submit" value="{% trans 'Allow' %}" />
    </div>
</form>
{% endblock %}
