{% extends 'base.html' %}
{% block content %}
<h2>Lupapyyntö</h2>

{% if scopes %}
<p>Palvelu <strong>{{ client.name }}</strong> pyytää lupaa käyttää käyttäjätilisi seuraavia tietoja</p>
{% else %}
<p>Palvelu <strong>{{ client.name }}</strong> pyytää lupaa käyttää käyttäjätiliäsi kirjautumiseen.</p>
{% endif %}

<form method="post" action="{% url 'oidc_provider:authorize' %}">

    {% csrf_token %}

    {{ hidden_inputs }}

    <ul class="list-group">
        {% for scope in scopes %}
        <li class="list-group-item"><strong>{{ scope.name }}</strong> <br><i>{{ scope.description }}</i></li>
        {% endfor %}
    </ul>
    <div class="pull-right">
      <input class="btn btn-default" type="submit" value="Älä anna lupaa" />
      <input class="btn btn-primary" name="allow" type="submit" value="Anna lupa" />
    </div>
</form>
{% endblock %}